
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./background-image.jpg');
  background-size: cover;
}
.alert {
  margin: 30px;
}

#welcome-message {
  color: lightgreen;
}

.custom-btm {
  border-radius: 0px;
}

.white {
  color: white;
}
